<!---->

<script>
    var zTree;
    var setting = {
        check: {
            enable: false
        },
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable:true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: ""
            }
        },
        callback: {
            /*beforeClick: function(treeId, treeNode) {
                var zTree = $.fn.zTree.getZTreeObj("tree");
                if (treeNode.isParent) {
                    zTree.expandNode(treeNode);
                    return false;
                } else {
//                    demoIframe.attr("src",treeNode.file + ".html");
                    return true;
                }
            },*/
            onClick: onCheck
        }
    };

    function onCheck(e,treeId,treeNode){
//        alert(treeNode.id+"------"+treeNode.name);
        $.ajax({
            url: 'sysRole/getRelateData.do?type='+treeNode.id,
            async: false,
            type: "GET",
            dataType: "json",
            success: function (dataResult) {
                console.log(dataResult)
                var obj = eval(dataResult);
                var cells = 3,
                        rows =100,
                        i, j, row,
                        columns = [],
                        data = [];

                columns.push({
                    field: 'field0',
                    checkbox: true
                });
                columns.push({
                    field: 'field1',
                    title: '编号'
                });
                columns.push({
                    field: 'field2',
                    title: '名称'
                });
                /*for (i = 0; i < rows; i++) {
                    row = {};
                    for (j = 0; j < cells; j++) {
                        row['field' + j] = 'Row-' + i + '-' + j;
                    }
                    data.push(row);
                }*/

                /**/

                var paramRelateValue=obj.data;
                for(var i in paramRelateValue){
                    row = {};
                    row['field1'] = paramRelateValue[i].code;
                    row['field2'] = paramRelateValue[i].name;
                    data.push(row);
                }
                /**/
                $('#table').bootstrapTable('destroy').bootstrapTable({
                    columns: columns,
                    data: data,
                    pageNumber: 1, //初始化加载第一页，默认第一页
                    pageSize: 5, //每页的记录行数（*）
                    pageList: [5, 10, 25, 50, 100],
                    cache: true
                });
            }
        });
    }

    function getIdSelections() {
        /*return $.map($('#table').bootstrapTable('getSelections'), function(row) {
            return row.id
        });*/
        var mapSelected=$.map($('#table').bootstrapTable('getSelections'), function(row) {
            return row.field1
        });
        console.log($('#table').bootstrapTable('getSelections'))
//        alert($('#table').bootstrapTable('getSelections'))
        console.log(mapSelected)

//        alert(mapSelected)
        var tempV=$('#paramSelectId').attr("value")
        var docSelect=$('#'+tempV);
//        alert('docSelect:'+docSelect)
//        var paramValue = docSelect.val();
        var paramValue = mapSelected;
//        paramValue = paramValue.replace("string:", "");
        var docInput = docSelect.prev();
        docInput.val(paramValue);
        if (paramValue!=null && paramValue!='') {
            docInput.attr("readonly", true);
        } else {
            docInput.val("");
//            reportParam.paramValue = ""
            docInput.attr("readonly", false);
        }
        $('#relateDataModal').modal('hide');

    }

    var zNodes =[
     {id:'1', pId:0, name:"数据维度类型", open:true},
     {id:'01', pId:'1', name:"公司", file:"core/standardData"},
     {id:'02', pId:'1', name:"品类", file:"core/simpleData"},
     {id:'03', pId:'1', name:"日历", file:"core/noline"}
     ];
    $(document).ready(function(){
        var t = $("#tree");
        t = $.fn.zTree.init(t, setting, zNodes);
        var zTree = $.fn.zTree.getZTreeObj("tree");
        zTree.selectNode(zTree.getNodeByParam("id", 1));


        /*$("#tree li").bind("click", function(){
//            alert('adadsafas');
            initDataTable();
        });*/
    });
</script>
<!--<ul id="tree" class="ztree" style="width:560px; overflow:auto;"></ul>-->
<!---->


<!-- 管理员列表 -->
<!-- Content Header -->
<section class="content-header">
    <h1>
        {{i18n('page_index_menu_rolemanagement')}}
    </h1>
    <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> {{i18n('page_index_llb_homePage')}}</a></li>
        <li><a href="#">{{i18n('page_index_menu_sysManagement')}}</a></li>
        <li class="active">{{i18n('page_index_menu_rolemanagement')}}</li>
    </ol>
</section>
<!-- /Content Header -->

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{i18n('page_user_newrole_rolelist')}}</h3>
            <div class="box-tools">
                <!--<span class="pull-left span-lh">角色代码</span>
                <div class="input-group pull-left">
                    <input type="text" class="form-control input-sm" placeholder="角色代码" />
                </div>-->
                <span class="pull-left span-lh">{{i18n('page_user_detail_rolename')}}</span>
                <div class="input-group pull-left">
                    <input ng-model="searchInput" type="text" class="form-control input-sm"
                           placeholder="{{i18n('page_user_detail_rolename')}}"/>
                </div>
                <span class="pull-left span-lh">{{i18n('page_user_detail_rolecategory')}}</span>
                <div class="input-group pull-left">
                    <select class="form-control select-sm" ng-model="search.roleType"
                            ng-options="x.id as x.name for x in roleTypes">
                        <option value="">{{i18n('page_log_select')}}</option>
                    </select>
                </div>
                <div class="pull-right">
                    <a ng-click="editBtn('reloadBtn','yes')" class="btn btn-default btn-sm" id="search-btn">
                        <i class="fa fa-search"></i> {{i18n('page_reporttool_search')}}
                    </a>
                    <a ng-click="editBtn('addSysRole')" class="btn btn-default btn-sm" data-toggle="modal"
                       data-target="#adminModal">
                        <i class="fa fa-plus-circle"></i> {{i18n('sys_title_dlg_new')}}
                    </a>
                </div>
                <div class="zeng_msgbox_layer_wrap" id="q_msgbox"></div>
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>{{i18n('page_user_detail_rolecode')}}</th>
                    <!-- <th>{{i18n('page_user_detail_rolename')}}</th> -->
                    <th>{{i18n('page_menu_new_chinesename')}}</th>
                    <th>{{i18n('page_menu_new_englishname')}}</th>
                    <th>{{i18n('page_user_detail_rolecategory')}}</th>
                    <th>{{i18n('page_menu_createuser')}}</th>
                    <th>{{i18n('page_reporttool_creationtime')}}</th>
                    <th>{{i18n('page_reporttool_operation')}}</th>
                </tr>
                <tr ng-repeat="sysRole in datas">
                    <td>{{sysRole.code}}</td>
                    <td>{{sysRole.roleNameZh}}</td>
                    <td>{{sysRole.roleNameEn}}</td>
                    <td ng-if="sysRole.roleType==1">{{i18n('page_user_newrole_functionrole')}}</td>
                    <td ng-if="sysRole.roleType==3">{{i18n('page_user_newrole_datarole')}}</td>
                    <td>{{sysRole.createUser}}</td>
                    <td>{{sysRole.createTime}}</td>
                    <td>
                        <a ng-click="editBtn('updateSysRole',sysRole.id)" title="{{i18n('sys_title_dlg_edit')}}"
                           data-toggle="modal" data-target="#adminModal"><i class="fa fa-edit"></i></a>
                        <a ng-click="editBtn('deleteSysRole',sysRole.id)" title="{{i18n('page_delete')}}"
                           data-toggle="modal" data-target="#deleteModal"><i class="fa fa-remove"></i></a>
                        <a ng-click="editBtn('manageSysRoleParams',sysRole.id)" title="{{i18n('page_role_Authority')}}"
                           data-toggle="modal" ng-if="sysRole.roleType == 3" data-target="#roleModal1"><i
                                class="fa fa-lock"></i></a>
                        <a ng-click="editBtn('manageSysRoleMenus',sysRole.id)" title="{{i18n('page_role_Authority')}}"
                           data-toggle="modal" ng-if="sysRole.roleType == 1" data-target="#roleModal"><i
                                class="fa fa-lock"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <p class="pull-left">
                {{i18n('page_index_pages_total')}} <span>{{itemCount}}</span>
                {{i18n('page_index_pages_record')}} , {{i18n('page_index_pages_total')}}
                <span>{{pageCount}}</span> {{i18n('page_index_pages_page')}}
            </p>
            <ul id="pagination">
            </ul>
        </div>
    </div>
</section>
<!-- Main content -->

<!-- Modals -->

<div class="modal fade" id="adminModal">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="newTitle" style="display: inline;">
                    {{i18n('page_index_menu_rolemanagement')}}-{{i18n('sys_title_dlg_new')}}</h4>
                <h4 class="modal-title" id="editTitle" style="display: none;">
                    {{i18n('page_index_menu_rolemanagement')}}-{{i18n('sys_title_dlg_edit')}}</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="role" novalidate name="sysRoleForm">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{i18n('page_menu_new_chinesename')}}</label>
                                <input type="text" id="roleNameZh" class="form-control" name="Chinarolename"
                                       placeholder="{{i18n('page_menu_new_chinesename')}}"
                                       ng-model="sysRole.roleNameZh"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{i18n('page_menu_new_englishname')}}</label>
                                <input type="text" id="roleNameEn" class="form-control" name="Englishrolename"
                                       placeholder="{{i18n('page_menu_new_englishname')}}"
                                       ng-model="sysRole.roleNameEn"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{i18n('page_role_new_rolestate')}}</label>
                                <select class="form-control" name="roleStatus" ng-model="sysRole.roleStatus"
                                        ng-options="x.id as x.name for x in roleStatus">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{i18n('page_user_detail_rolecategory')}}</label>
                                <select class="form-control" id="roleclass" name="roleType" ng-model="sysRole.roleType"
                                        ng-options="x.id as x.name for x in roleTypes">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="function-role">
                        <div class="col-md-12">
                            <div class="form-group" style="position: relative;">
                                <label>{{i18n('page_menu_menuname')}}</label>
                                <input type="text" class="form-control" id="rolemenuName"
                                       placeholder="{{i18n('page_menu_menuname')}}" readonly="readonly"
                                       ng-model="sysRole.roleMenuName"/>
                                <input type="hidden" ng-model="sysRole.sysRoleMenuIds">
                                <!-- 树形下拉选择框 -->
                                <div class="ztree-sel" style="left:0px;top:60px;">
                                    <ul class="ztree" id="rolemenuNameTree"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="data-role">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{i18n('page_user_newrole_datarole')}}</label>
                                <div class="TableDiv">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th>{{i18n('page_reportparameter_parametername')}}</th>
                                            <th>{{i18n('page_reportparameter_parameterkey')}}</th>
                                            <th>{{i18n('page_reportparameter_displayoperationtype')}}</th>
                                            <th>参数值类型</th>
                                            <th>{{i18n('page_reportparameter_parametervalues')}}</th>
                                        </tr>
                                        <tr ng-repeat="reportParam in reportParams">
                                            <td>{{reportParam.paramName}}</td>
                                            <td>{{reportParam.paramKey}}</td>
                                            <td>
                                                <select  name="operatorType"
                                                        ng-model="reportParam.paramValue1">
                                                    <option value="">{{i18n('page_log_select')}}</option>
                                                    <option value="">单选</option>
                                                    <option value="">多选</option>
                                                    <!--<option value="">区间</option>-->
                                                </select>
                                            </td>
                                            <td>
                                                <select  name="operatorType"
                                                         ng-model="reportParam.paramValue1">
                                                    <option value="">单值</option>
                                                    <option value="">多值</option>
                                                    <!--<option value="">区间值</option>-->
                                                </select>
                                            </td>
                                            <td>
                                                <!--<input type="text" ng-model="reportParam.paramValue" class="parameterval" placeholder="多值之间用逗号分隔"/>-->
                                                <!--<input type="button"  class="parameterval"/>-->
                                                <!--<button disabled="true" ng-click="editBtn('changeParamValueByRelateData',reportParam.id+','+$index)" class="btn red" style="background-color: #40d2b6;height:26px;border-radius:0px;border:1px solid;margin-right:-5px;margin-top:2px;text-align:center;padding:0px; vertical-align:middle ;" type="button">选择</button>-->
                                                <button ng-click="editBtn('changeParamValueByRelateData',reportParam.id+','+$index)" class="btn red" style="background-color: #40d2b6;height:26px;border-radius:0px;border:1px solid;margin-right:-5px;margin-top:2px;text-align:center;padding:0px; vertical-align:middle ;" type="button">选择</button>
                                                <input type="text" ng-model="reportParam.paramValue"  class="parameterval" placeholder="多值之间用逗号分隔"/>
                                                <!--<input type="text" ng-model="reportParam.paramValue" onclick="$('#relateDataModal').modal('show');" class="parameterval" placeholder="多值之间用逗号分隔"/>-->


                                                <select id="{{reportParam.id}}" name="paramValue"
                                                        ng-model="reportParam.paramValue1"
                                                        ng-options="x.id as x.name for x in paramValues"
                                                        ng-change="editBtn('changeParamValue',reportParam.id+','+$index)">
                                                    <option value="">{{i18n('page_log_select')}}</option>
                                                </select>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                            {{i18n('page_sys_dlg_cancel')}}
                        </button>
                        <button type="button" class="btn btn-preserve" ng-click="editBtn('saveSysRole')">
                            {{i18n('page_sys_dlg_save')}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="roleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <form method="post" id="sysRoleMenu" novalidate name="sysRoleMenuForm" ng-submit="saveSysRoleMenu(roleMenu.roleId)"> -->
            <form method="post" id="sysRoleMenu" novalidate name="sysRoleMenuForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{{i18n('page_role_FunctionalRole')}}</h4>
                </div>
                <div class="modal-body">
                    <ul class="ztree" id="functionroleTree"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        {{i18n('page_sys_dlg_cancel')}}
                    </button>
                    <button type="button" class="btn btn-preserve"
                            ng-click="editBtn('saveSysRoleMenu',roleMenu.roleId)">{{i18n('page_sys_dlg_save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="roleModal1">
    <div class="modal-dialog">
        <form method="post" id="sysRoleParam" novalidate name="sysRoleParamForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{{i18n('page_role_DataRole')}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group dataTableDiv">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>{{i18n('page_reportparameter_parametername')}}</th>
                                        <th>{{i18n('page_reportparameter_parameterkey')}}</th>
                                        <th>{{i18n('page_reportparameter_parametervalues')}}</th>
                                    </tr>
                                    <tr ng-repeat="reportParam in reportParams">
                                        <td>{{reportParam.paramName}}</td>
                                        <td>{{reportParam.paramKey}}</td>
                                        <td>
                                            <input type="text" ng-model="reportParam.paramValue" class="parameterval">
                                            <select id="{{reportParam.id}}id" name="paramValue"
                                                    ng-model="reportParam.paramValue1"
                                                    ng-options="x.id as x.name for x in paramValues"
                                                    ng-change="editBtn('changeParamValue1',reportParam.id+','+$index)">
                                                <option value="">{{i18n('page_log_select')}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        {{i18n('page_sys_dlg_cancel')}}
                    </button>
                    <button type="button" class="btn btn-preserve"
                            ng-click="editBtn('saveSysRoleParam',reportParams.roleId)">{{i18n('page_sys_dlg_save')}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog prompt">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">{{i18n('page_index_menu_rolemanagement')}}-{{i18n('page_delete')}}</h4>
            </div>
            <div class="modal-body">
                <p class="delete-sure">{{i18n('page_sys_dlg_confirm')}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{i18n('page_sys_dlg_cancel')}}
                </button>
                <button type="button" class="btn btn-preserve" id="btnConfirm">{{i18n('page_sys_dlg_confirmDel')}}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal">
    <div class="modal-dialog prompt">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">{{i18n('page_index_menu_rolemanagement')}}-{{i18n('page_sys_dlg_save')}}</h4>
            </div>
            <div class="modal-body">
                <p class="delete-sure" id="hintInfo"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-preserve" data-dismiss="modal" id="successBtn">
                    {{i18n('page_sys_dlg_confirmDel')}}
                </button>
            </div>
        </div>
    </div>
</div>

<!--提示信息-->
<div class="modal fade" id="tipModal">
    <div class="modal-dialog prompt">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">{{i18n('page_index_menu_rolemanagement')}}</h4>
            </div>
            <div class="modal-body">
                <p class="delete-sure">{{i18n('page_tip_repeat')}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-preserve" data-dismiss="modal" id="successBtn">
                    {{i18n('page_sys_dlg_confirmDel')}}
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="relateDataModal">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="newTitle1" style="display: inline;">
                    数据选择</h4>
                <h4 class="modal-title" id="editTitle1" style="display: none;">
                    {{i18n('page_index_menu_rolemanagement')}}-{{i18n('sys_title_dlg_edit')}}</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <!--<div class="col-md-3" style="background-color: #00a0e9">-->
                    <div class="col-md-3">
                        <ul id="tree" class="ztree" style=" overflow:auto;"></ul>
                    </div>
<input id="paramSelectId" type="hidden" value="">
                    <div id="initDataTableId" class="col-md-9">
                        <table id="table"
                               data-toggle="table"
                               data-show-columns="true"
                               data-search="true"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-pagination="true">
                            <thead>
                            <!--<tr>
                                <th data-field="id" data-formatter="idFormatter">ID</th>
                                <th data-field="name">Item Name</th>
                                <th data-field="price">Item Price</th>
                            </tr>-->
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    {{i18n('page_sys_dlg_cancel')}}
                </button>
                <button type="button" class="btn btn-preserve" onclick="getIdSelections()">
                    {{i18n('page_sys_dlg_save')}}
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //表单验证
        $('#role').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                Chinarolename: {
                    validators: {
                        notEmpty: {
                            message: "{{i18n('page_menu_chinesenametip')}}"
                        }
                    }
                },
                Englishrolename: {
                    validators: {
                        notEmpty: {
                            message: "{{i18n('page_menu_englishnametip')}}"
                        }
                    }
                }
            }
        });
    });
</script>

